// Bourbon
// ---------------------------------
@import url('https://fonts.googleapis.com/css?family=Muli');


body {
  padding-top: 70px;
}

h1 {
  margin-bottom: .5em;
}

.assessment {
  
  &.form-disabled {
    a.btn {
      pointer-events: none;
      opacity: 1 !important;
    }
  }
  
  a.btn {
    margin: 2px;
    font-family: 'Muli', serif;
    font-size: 18px;
  }
  
  .list-items {
    a.btn {
      min-width: 85px;
      padding-left: 0;
      padding-right: 0;
      display: inline-block
    }
  }
  
  .list-colors {
    a.btn.active {
      border-color: black;
    }
  }
}

.assessments {
  
  .list-group {
    margin-bottom: 1em;
    /*
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    */
  
  
    .list-group-item {
      break-inside: avoid;
      cursor: pointer;
  
      .color-swatch {
        width: 40px;
        display: inline-block;
        height: 40px;
        margin: -15px 10px -15px -15px;
      }
    }
  }
  
  .btn-primary {
    margin-bottom: 1em;
  }
  
  
  /*
  tr {
    display: block;
    float: left;
    width: 48%;
    margin-right: 1%;
    
    .date {
      width: 100%;
    }
  }
  
  td.color-swatch {
    padding: 0;
    
    span {
      width: 35px;
      height: 35px;
      display: block;
    }
  }
  */
}

.print .force-no-print {
  display: none;
}


@media print {
  body {
    -webkit-print-color-adjust: exact;
    padding-top: 0;
  }
  
  .no-print {
    display: none;
  }
  
  .list-group {
    page-break-inside: avoid;
  }
  
  .assessment {
    page-break-after: always;
  }
  
  .list-group-item {
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .hidden-xs-down {
    display: none;
  }
}

