@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
body {
  padding-top: 70px; }

h1 {
  margin-bottom: .5em; }

.assessment.form-disabled a.btn {
  pointer-events: none;
  opacity: 1 !important; }

.assessment a.btn {
  margin: 2px;
  font-family: 'Didact Gothic', serif;
  font-size: 20px; }

.assessment .list-items a.btn {
  min-width: 85px;
  padding: 3px 0;
  display: inline-block; }

.assessment .list-colors a.btn.active {
  border-color: black; }

.assessments {
  /*
  tr {
    display: block;
    float: left;
    width: 48%;
    margin-right: 1%;
    
    .date {
      width: 100%;
    }
  }
  
  td.color-swatch {
    padding: 0;
    
    span {
      width: 35px;
      height: 35px;
      display: block;
    }
  }
  */ }
  .assessments .list-group {
    margin-bottom: 1em;
    /*
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    */ }
    .assessments .list-group .list-group-item {
      break-inside: avoid;
      cursor: pointer; }
      .assessments .list-group .list-group-item .color-swatch {
        width: 40px;
        display: inline-block;
        height: 40px;
        margin: -15px 10px -15px -15px; }
  .assessments .btn-primary {
    margin-bottom: 1em; }

.flashcards {
  height: 100%; }
  .flashcards .flashcard {
    min-height: 180px;
    width: 50%;
    float: left;
    border: 1px solid black;
    position: relative;
    page-break-inside: avoid;
    page-break-after: always; }
    .flashcards .flashcard .content {
      font-family: 'Didact Gothic', serif;
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      line-height: 180px; }
      .flashcards .flashcard .content img {
        max-height: 120px;
        width: auto; }
    .flashcards .flashcard .student-name {
      color: #ccc !important;
      position: absolute;
      top: 5px;
      right: 5px; }
    .flashcards .flashcard .color-swatch {
      width: 0px;
      height: 0px;
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      border-radius: 10px;
      border: 10px;
      border-style: solid;
      -webkit-print-color-adjust: exact; }

.print .force-no-print {
  display: none; }

@page {
  size: letter; }

@media print {
  body {
    -webkit-print-color-adjust: exact;
    padding-top: 0; }
    body .container {
      max-width: 800px; }
  .no-print {
    display: none; }
  .list-group {
    page-break-inside: avoid; }
  .assessment {
    page-break-after: always; }
  .list-group-item {
    max-width: 400px; } }

@media (max-width: 600px) {
  .hidden-xs-down {
    display: none; } }

.student-search .student-search-input {
  margin-bottom: 2em; }

.student-search .student {
  font-size: 1.3em; }

.student-search .student:hover {
  cursor: pointer; }

.student-search .student:nth-child(5n + 1) .panel {
  background-color: #ff6658; }

.student-search .student:nth-child(5n + 5) .panel {
  background-color: #D6DBD2; }

.student-search .student:nth-child(5n + 2) .panel {
  background-color: #F19E39; }

.student-search .student:nth-child(5n + 3) .panel {
  background-color: #b687d3; }

.student-search .student:nth-child(5n + 4) .panel {
  background-color: #AFE8CC; }
