<!doctype html>
<html class="no-js" lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <base href="/"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content="Google Docs Flashcards"/>
    <meta property="og:description" content="Play flashcards from Google Spreadsheets"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" ng-attr-content="{{metaDescription()}}"/>
    <meta name="keywords" ng-attr-content="{{metaKeywords()}}"/>
    <title>Lodestar Sight Words Assessments</title>
    <!-- build:css css/libraries.min.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/proudcity-patterns.min.css -->

    <!-- endbuild -->
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '', 'auto');
    </script>
</head>
<body>

<!-- Needed for the flashcards -->
<audio id="myaudio">
  <source ng-src="">
</audio>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      -->
      <span class="navbar-brand"><a href="#" ui-sref="login">Lodestar Sight Words</a></span>
    </div>
    <ul class="nav navbar-nav" ng-if="firebaseUser.role == 'admin'">
      <li><a ui-sref="students">Students</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" ng-class="dropdown.year" ng-if="firebaseUser.role == 'admin'">
        <a href="#" class="dropdown-toggle" ng-click="toggleDropdown('year', $event)">Year: {{activeYear.label}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="year in config.years">
            <a href="#" ng-click="setYear(year, $event)">
              {{year.label}}
              <span ng-if="activeYear.label == year.label" class="fa fa-fw fa-check" />
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" ng-class="dropdown.user" ng-if="firebaseUser">
        <a href="#" class="dropdown-toggle" ng-click="toggleDropdown('user', $event)">
          <img ng-src="{{ firebaseUser.photoURL }}" width="20" height="20" />
          {{ firebaseUser.displayName }}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="logout($event)">Sign Out</a></li>
        </ul>
      </li>


    </ul>
      <!--
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="students">Students</a></li>
        </ul>
      </div>
       -->
  </div>
</nav>

<div class="container" ui-view>
</div>

<!-- build:js js/bootstrap.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->
<!-- build:js js/angular.js -->
<script src="bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:js js/angular-core.js -->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbuild -->
<!-- build:js js/angular-router-animate.js -->
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- endbuild -->
<!-- build:js js/angular-lazy.js -->
<script src="bower_components/angular-inview/angular-inview.js"></script>
<script src="bower_components/angular-lazycompile/src/angular-lazycompile.js"></script>
<!-- endbuild -->

<!-- build:js js/maps.js -->
<!-- endbuild -->

<!-- build:js js/libraries.min.js -->
<!-- bower:js -->
<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
<script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.js"></script>
<script src="bower_components/ngAnalytics/src/ng-analytics.min.js"></script>
<script src="bower_components/auth0-lock/build/lock.js"></script>
<script src="bower_components/angular-lock/angular-lock.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-tablesort/js/angular-tablesort.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<!-- endbower -->
<script src="js/utilities/airtable.browser.js"></script>
<!-- endbuild -->

<!-- build:js js/app.min.js -->
<script src="js/app.js"></script>
<!-- Routes -->
<!-- Providers -->
<!-- Directives -->
<script src="js/directives/assessment.js"></script>
<script src="js/directives/flashcards.js"></script>

<!-- Filters -->
<!-- endbuild -->
<!-- build:js js/vote.min.js -->
<!-- endbuild -->

<script>
  // Initialize the Firebase SDK
  var config = {
    apiKey: 'AIzaSyBQa3vAtuq1WhiF1v0ZiXchSLOTptnC7og',
    authDomain: 'lodestar-61c3b.firebaseapp.com',
    databaseURL: '<your-database-url>',
    storageBucket: '<your-storage-bucket>'
  };
  firebase.initializeApp(config);
</script>

</body>
</html>
